input {
    border: none;
    border-radius: 0.3em;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.large {
    font-size: 2em;
}

.pageCenter {
    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxShadow {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
}

@function darkColor($color_) {
    @return darken($color_, 20%);
}

$green: #5cb85c;
$green-dark: darkColor($green);
$red: #e7594a;
$red-dark: darkColor($red);
$blue: #5bc0de;
$blue-dark: darkColor($blue);
$yellow: #ffe593;
$yellow-dark: darkColor($yellow);
