
$green: #5cb85c;
$green-dark: darken($green, 20%);
$red: #e7594a;
$red-dark: darken($red, 20%);
$blue: #5bc0de;
$blue-dark: darken($blue, 20%);
$yellow: #ffe593;
$yellow-dark: darken($yellow, 35%);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon {
  font-size: 1em;
  vertical-align: -0.15rem;
  fill: currentColor;
  overflow: hidden;
}

.large {
  font-size: 2rem;
}

.pageCenter {
  position: fixed;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowCenter {
  @extend .flexCenter;
  flex-direction: column;
}

.flexLineCenter {
  @extend .flexCenter;
  flex-direction: row;
}

.topBox {
  border-radius: 1rem;
  overflow: hidden;
}

.boxShadow {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
}

.inputDefault {
  line-height: 1.5em;
  padding: 0.3em 0.5em;
  outline: none;
  border-radius: 0.3rem;
  border:none;
}

input, textarea {
  @extend .inputDefault;
}

input[type=text],input[type=password],textarea{
  border: 2px solid #777;
  &:focus {
    border-color: $blue;
  }
}