@function darkColor($color_) {
    @return darken($color_, 20%);
}

$green: #5cb85c;
$green-dark: darkColor($green);
$red: #e7594a;
$red-dark: darkColor($red);
$blue: #5bc0de;
$blue-dark: darkColor($blue);
$yellow: #ffe593;
$yellow-dark: darkColor($yellow);
* {
    padding: 0;
    margin: 0;
}

input {
    border: none;
    border-radius: 0.3rem;
}

.icon {
    font-size: 1em;
    vertical-align: -0.15rem;
    fill: currentColor;
    overflow: hidden;
}

.large {
    font-size: 2rem;
}

.pageCenter {
    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexLineCenter {
    @extend .flexRowCenter;
    flex-direction: row;
}

.topBox {
    border-radius: 0.5rem;
    overflow: hidden;
}

.boxShadow {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
}